.imgg{
    background-image: url("C:\Users\Guest\Desktop\ShoopingCart\src\assets/images/pubg.jpg");
    height: 1000px;
    background-size: cover;
    position: relative;
}

h2{
    position: absolute;
    top:27%;
    left: 35%;
}